@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-advox: #1c9dd9;
    --color-actions: #d91c91;
    --color-additional: #981466;
  }
}

@layer components {
  .input {
    @apply border border-[color:var(--color-actions)] rounded-sm shadow-none p-2;
  }

  input:focus {
    @apply outline-none;
  }

  .btn {
    @apply shadow-sm px-5 py-2 text-white cursor-pointer rounded-sm;
  }

  .btn.btn-sm {
    @apply px-3 py-1;
  }
}

button.active {
  color: var(--color-actions);
}

span.active {
  color: var(--color-actions);
}

/** Dropdown animation **/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
